
#banniere_desc{
	width: 70%;
    height: 100px;
    display: block;
    margin: 0 auto;
}

#banniere_bg{
    max-width: 50%;
    display: block;
}

#banniere_img{
    display: block;
    max-width: 20%;
}

#banniere_submit{
	width: 15%;
    display: block;
    margin: 50px auto;
}